<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <th:block th:fragment="theOnlyOne">
        <!-- ================================== appHead Start ==================================== -->
        <meta charset="UTF-8">
        <!-- NOTE: Versions must match the versions in the pom.xml file. -->
        <script th:src="@{/webjars/vue/2.6.12/dist/vue.min.js}"></script>
        <script th:src="@{/webjars/vue-router/3.4.9/dist/vue-router.js}"></script>

        <script th:src="@{/webjars/bootstrap-vue/2.23.1/dist/bootstrap-vue.js}"></script>
        <script th:src="@{/webjars/bootstrap-vue/2.23.1/dist/bootstrap-vue-icons.js}"></script>
        <!-- See: https://blog.getbootstrap.com/2021/05/10/bootstrap-icons-1-5-0
             <b-icon-{name}>, where {name} is one of the icon names listed. -->

        <script th:src="@{/webjars/axios/1.7.9/dist/axios.js}"></script>

        <link th:href="@{/webjars/bootstrap/4.6.2/dist/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/webjars/bootstrap-vue/2.23.1/dist/bootstrap-vue.css}" rel="stylesheet" type="text/css"/>
        <!-- ================================== appHead End ==================================== -->
    </th:block>
</html>